<div class="container">
  <h1>Gimme a username</h1>

  <form >
    <input type="text" name="username">
    <input type='submit' value="Get tweets">
  </form>

  <div id="tweets">
    
  </div>
</div>
